:root {
    --primary-color: #3e0869;
    --secondary-color: #ab4bc4;
    --white: white;
}

* {
    box-sizing: border-box;
  }

/* Style the body */

body {
    background: #07e0e7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
}

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 600px;
    height: 500px;
}

a {
    color: var(--secondary-color);
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
}

#currentTime {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

p {
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 5px 15px;
    width: 50%;
    font-size: 24px;
    color: var(--white);
    border-radius: 8px;
}

#questionsDiv {
    flex-wrap: wrap;
    margin: 20px;
    font-size: 30px;
}

#startTime {
    background-color: var(--primary-color);
    position: relative;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: var(--white);
}

#Submit {
    background-color: var(--primary-color);
    font-size: 20px;
    color: var(--white);
}

/* Change color on hover */

li:hover {
    background-color: var(--secondary-color);
}


#startTime:hover {
    background-color: var(--secondary-color);
}

#Submit:hover {
    background-color: var(--secondary-color);
}

#goBack {
    background-color: var(--primary-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: var(--white);
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#goBack:hover {
    background-color: var(--secondary-color);
}

#clear {
    background-color: var(--primary-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: var(--white);
    top: 30%;
    right: 5%;
    text-align: center;
}

#clear:hover {
    background-color: var(--secondary-color);
}

button {
    border-radius: 8px;
    margin-left: 10px;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 30%;
    border: 1px solid lightgray;
    font-size: 20px;
}

#createDiv {
    margin-top: 20px;
}


/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
        body {
            max-width: 786px;
        }
    /* Resized main-content to fit 786px  */
    #wrapper {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }
        #goBack {
            
            position: relative;
            left: 55%;
        }

        #clear {
            
            position: relative;
            right: 5%;
            
        }
    }
        
/* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
        }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: absolute;
        left: 10%;
    }
      a {
          margin-left: 10%;
      }

     
}